body{
    margin:0;
    background:#3aafa9;
}
#header{
    background: #17252A;
}

#title{
    font-size: 60px;
    font-family: fantasy;
}
#brand{
    font-family: 'Pacifico', cursive;
}


#cityListContainer{
    background: #Def2f1;
    padding: 10px;
}

#searchBar{
    margin-left:25px;
    padding: 15px;
    border-radius: 10px;
}

#search{
    margin:25px;
}
#cityTitle{
    font-family: 'Pacifico', cursive;
}

#searchButton{
    margin-left:0;
    padding:10px;
}
#searchButton:active{
    border:#2b7a78 solid .5px;

}

.cityList{
    background:white;
    border: silver 1px solid;
    padding: 25px;
    margin:15px;
}

#currentCityInfo{
    padding:25px;
    background: white;
    border: .5pt #17252A solid;
}

#fiveDayForecast{
    background:#3aafa9;
    padding:25px;
    
}

#cityHead{
    margin-bottom: 25px;
}

#fork{
    margin: 15px;
    padding: 25px;
    font-family: 'Pacifico', cursive;
    background: #dedede;
}

.items{
    padding: 10px;
    font-family: 'Pacifico', cursive;
    border: .5pt #17252A solid;
    text-align: center;
}